<div class="wapper section clearfix">
	<div class="section-l">
		<%= render "nav", object: @local %>
	</div>
	<div class="section-m">
		<div class="section-t">
			<h2>广告营销</h2>
			<p>专业的营销经验积累，更好的服务客户。</p>
		</div>
		<div class="section-c">
			<h4>广告联盟</h4>
			<p>广告主按照网络广告的实际效果（如销售额、引导数等）向网站主支付合理的广告费用，节约营销开支，提高知名度，扩大企业产品的影响，提高营销质量。</p>
			<p>网站主则通过广告联盟平台选择合适的广告主并通过播放广告主广告提高收益，同时节约大量的网络广告销售费用，轻松地把网站访问量变成收益。</p>
			<h4>线下广告</h4>
			<p>需要强大资源整合能力和执行力，印刷品、物流供给链的治理等等。线下广告主要采用派发，店销，路演，深度分销等手段来实现。</p>
			<p>派发 通过特定的渠道将特定的样品派发给特定的对象</p>
			<p>店销 通过在大卖场等KA渠道设立展示台，针对特定对象进行产品展示和讲解</p>
			<p>路演 在人群密集的特定地段搭建舞台，通过文艺表演，有奖问答，游戏抽奖等聚集人群从而进行产品</p>
		</div>
	</div>
</div>
