<div class="wapper section clearfix">
	<div class="section-l">
		<%= render "nav", object: @local %>
	</div>
	<div class="section-m">
		<div class="section-t">
			<h2>电子商务</h2>
			<p>为企业提供电子商务解决方案：线上标准化网上商店建设，基于线上标准化网上商店提供服务，定制电子商务网站。做优秀的电子商务解决方案提供商。用电子商务帮助中小企业提高生产效率。核心团队由企业管理，电子商务运维管理，软件管理，电子商务运营管理的资深人士组成，时刻为提供完善的产品与服务而准备着。</p>
		</div>
		<div class="section-list">
			<div class="section-li clearfix">
				<div class="section-li-i"><a href="/e-commerce/products"></a></div>
				<div class="section-li-m">
					<h4>网店程序</h4>
					<p>针对不同的运营模式：综合商城、百货商店、垂直商店、品牌店、服务型网店、团购等，相对应的解决方案</p>
					<p>优秀的商品、订单管理；专业丰富的模板；良好的技术支持；完善的运营支持</p>
					<p><a href="/products/products">了解详情</a></p>
				</div>
			</div>
			<div class="section-li clearfix">
				<div class="section-li-i"><a href="/e-commerce/advertisements"></a></div>
				<div class="section-li-m">
					<h4>广告营销</h4>
					<p>广告联盟、线下广告</p>
					<p><a href="/e-commerce/advertisements">了解详情</a></p>
				</div>
			</div>
			<div class="section-li clearfix">
				<div class="section-li-i"><a href="/e-commerce/services"></a></div>
				<div class="section-li-m">
					<h4>运营支持</h4>
					<p>数据分析、决策支持、卖家服务</p>
					<p><a href="/e-commerce/services">了解详情</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
