<div class="wapper section clearfix">
	<div class="section-l">
		<%= render "nav", object: @local %>
	</div>
	<div class="section-m">
		<div class="section-t section-program">
			<h2>网店程序</h2>
			<p>非开源程序，一对一的安全服务，定制化。</p>
		</div>
		<div class="section-c">
			<h4>运营模式</h4>
			<p>综合商城、百货商店、垂直商店、品牌店、服务型网店、团购</p>
			<h4>功能亮点</h4>
			<p>强大的商品展示功能</p>
			<p>丰富的模板与可视化编辑</p>
			<p>连通淘宝</p>
			<p>技术领先</p>
			<p>定制化需求</p>
		</div>
	</div>
</div>
