<div class="wapper section clearfix">
	<div class="section-l">
		<%= render "nav", object: @local %>
	</div>
	<div class="section-m">
		<div class="section-t">
			<h2>运营支持</h2>
			<p>数据分析、决策支持、卖家服务</p>
		</div>
		<div class="section-c">
			<h4>数据分析</h4>
			<p>商品的采购者都需要通过Web方式与商品的供应商及其合作者之间建立信息流的交互，面向电子商务的数据挖掘的特点就是从Web数据库中，运用关联、分类、聚类等技术手段，从中提取出可以指导市场策略的有用数据。它基于“消费者过去的行为预示着其今后的消费倾向”的原理，通过收集、分析和处理从网上获取的有关消费者消费行为的数据，从潜在的、隐含的、事先不知的状态，经过提取、洗涤、加工变为潜力巨大的价值信息，从而实现网络营销的目的，确定特定消费群体或个体的消费习惯、爱好、倾向，进而预示出消费者下一步的消费行为，有针对性地提供服务。</p>
			<h4>行为分析</h4>
			<p>商家在Web上建立自己的在线商品目录，顾客（即用户）通过浏览器可以浏览商品目录、实现网上订购甚至网上支付等。用户与商家的Web服务器间交互的过程信息（包括用户的登录信息、用户的浏览记录）以及用户的个人简要信息等，都能以日志文件或顾客数据库的形式存在，从中找出规律性，对商家的市场销售是至关重要的；从大量顾客数据及日志数据中，应用到计算机并行处理、神经元网络、模型化算法和其他信息处理技术手段，挖掘出有意义的用户访问模式及相关的潜在顾客群，从中可得到商家用于向特定消费群体或个体进行定向营销的决策信息。同时有效地对这些Web日志进行定量分析，揭示其中的关联关系、时序关系、页面类属关系、客户类属关系和频繁访问路径、频繁访问页面等，不但可为优化Web站点拓扑结构提供参考，而且还可为企业更有效地确认目标市场、改进决策获得更大的竞争优势提供帮助。</p>
			<h4>卖家服务</h4>
			<p>店铺管理：批量处理、进销存、会员管理、员工管理、财务管理、电商ERP、分销</p>
		</div>
	</div>
</div>
