<div class="about-us wapper">
	<div class="about-t">
		<h2>注重客户提出的每个要求</h2>
		<p>专注的服务</p>
	</div>
	<div class="about-m">
		<h4>价值服务</h4>
		<p>坚持做对客户有帮助有价值的事情</p>
		<h4>完美主义</h4>
		<p>我们追求设计、技术、用户体验</p>
		<h4>服务取胜</h4>
		<p>注重服务、遵守承诺</p>
	</div>
</div>
