<div class="wapper section clearfix">
	<div class="section-l">
		<ul>
			<li class="first"><a href="#" class="cur">概述</a></li>
			<li><a href="#">网店程序</a></li>
			<li><a href="#">广告营销</a></li>
			<li><a href="#">运营支持</a></li>
		</ul>
	</div>
	<div class="section-m">
		<div class="section-t">
			<h2>电子商务</h2>
			<p>了解您的移动网站、应用和广告以及它们帮助您拓展业务的方式已变得日趋重要。利用 Google Analytics（分析），您可以衡量移动网站、应用以及具有网络访问功能的移动设备（高端和普通手机/平板电脑都算在内）所带来的访问次数。我们可以向营销人员提供与客户相关的分析数据，帮助他们抓住关键时机吸引客户，在各种类型的设备和各种尺寸的屏幕上都取得良好的广告效果。您可以开始制作有针对性的高效营销广告系列，随时随地吸引访问者的关注。</p>
		</div>
		<div class="section-list">
			<div class="section-li clearfix">
				<div class="section-li-i"></div>
				<div class="section-li-m">
					<h4>网店程序</h4>
					<p>移动技术正在改变人们交流、工作和娱乐的方式，而推动移动技术日益普及和创新的主要因素就是移动应用。“移动应用分析”功能可针对客户与应用接触的整个过程（从发现、下载到互动）进行端到端评估。此类报告专为移动应用开发人员和营销人员设计，所提供的内容正是他们所关注的焦点。</p>
				</div>
			</div>
			<div class="section-li clearfix">
				<div class="section-li-i"></div>
				<div class="section-li-m">
					<h4>广告营销</h4>
					<p>移动技术正在改变人们交流、工作和娱乐的方式，而推动移动技术日益普及和创新的主要因素就是移动应用。“移动应用分析”功能可针对客户与应用接触的整个过程（从发现、下载到互动）进行端到端评估。此类报告专为移动应用开发人员和营销人员设计，所提供的内容正是他们所关注的焦点。</p>
				</div>
			</div>
			<div class="section-li clearfix">
				<div class="section-li-i"></div>
				<div class="section-li-m">
					<h4>运营支持</h4>
					<p>移动技术正在改变人们交流、工作和娱乐的方式，而推动移动技术日益普及和创新的主要因素就是移动应用。“移动应用分析”功能可针对客户与应用接触的整个过程（从发现、下载到互动）进行端到端评估。此类报告专为移动应用开发人员和营销人员设计，所提供的内容正是他们所关注的焦点。</p>
				</div>
			</div>
		</div>
	</div>
</div>
