<div class="slider">
	<div class="wapper">
		<div class="s-block"><img src="/assets/webpic.png" /></div>
	</div>
</div>
<div class="i-products">
	<div class="wapper">
		<h4>我们的产品服务</h4>
		<ul class="clearfix">
			<li class="first">
				<div class="li-block a">
					<a href="/products">网站 / 软件设计开发</a>
				</div>
				<p>网站建设、软件开发、移动应用</p>
				<p><a href="/products">了解详情</a></p>
			</li>
			<li>
				<div class="li-block c">
					<a href="/e-commerce">电子商务</a>
				</div>
				<p>网店搭建、广告营销、运营支持</p>
				<p><a href="/e-commerce">了解详情</a></p>
			</li>
			<li>
				<div class="li-block b">
					<a href="/services">行业解决方案</a>
				</div>
				<p>行业科技信息化建设。生活更“智能”</p>
				<p><a href="/services">了解详情</a></p>
			</li>
		</ul>
	</div>
</div>
