<div class="slider">
	<div class="wapper">
		<div class="s-block">
			<img src="/assets/webpic.png" />
		</div>
	</div>
</div>
<div class="products">
	<div class="wapper">
		<h4>网站产品</h4>
		<ul class="clearfix">
			<li class="a first">
				<a href="#">电子商务网店</a>
				<p>专业的网站设计及开发服务</p>
			</li>
			<li class="b">
				<a href="#">移动设计开发</a>
				<p>手机网站开发、手机APP</p>
			</li>
			<li class="c">
				<a href="#">软件设计开发</a>
				<p>为企业提供全方位的信息化建设服务，不仅仅是CRM、OA、ERP。</p>
			</li>
		</ul>
		<h4>营销服务</h4>
		<ul class="clearfix">
			<li class="d first">
				<a href="#">联盟推广</a>
				<p>专业的网站设计及开发服务</p>
			</li>
			<li class="e">
				<a href="#">广告设计</a>
				<p>手机网站开发、手机APP</p>
			</li>
			<li class="f">
				<a href="#">线下广告</a>
				<p>为企业提供全方位的信息化建设服务，不仅仅是CRM、OA、ERP。</p>
			</li>
		</ul>
		<h4>网站产品</h4>
		<ul class="clearfix">
			<li class="g first">
				<a href="#">数据挖掘</a>
				<p>数据挖掘技术是随着数据库技术和人工智能技术发展起来的一种新型的交叉信息技术。无论是B2B、B2C还是B2G电子商务模式，商品的采购者都需要通过Web方式与商品的供应商及其合作者之间建立信息流的交互，面向电子商务的数据挖掘的特点就是从Web数据库中，运用关联、分类、聚类等技术手段，从中提取出可以指导市场策略的有用数据。它基于“消费者过去的行为预示着其今后的消费倾向”的原理，通过收集、分析和处理从网上获取的有关消费者消费行为的数据，从潜在的、隐含的、事先不知的状态，经过提取、洗涤、加工变为潜力巨大的价值信息，从而实现网络营销的目的，确定特定消费群体或个体的消费习惯、爱好、倾向，进而预示出消费者下一步的消费行为，有针对性地提供服务。</p>
			</li>
			<li class="h">
				<a href="#">行为分析</a>
				<p>商家在Web上建立自己的在线商品目录，顾客（即用户）通过浏览器可以浏览商品目录、实现网上订购甚至网上支付等。用户与商家的Web服务器间交互的过程信息（包括用户的登录信息、用户的浏览记录）以及用户的个人简要信息等，都能以日志文件或顾客数据库的形式存在，从中找出规律性，对商家的市场销售是至关重要的；从大量顾客数据及日志数据中，应用到计算机并行处理、神经元网络、模型化算法和其他信息处理技术手段，挖掘出有意义的用户访问模式及相关的潜在顾客群，从中可得到商家用于向特定消费群体或个体进行定向营销的决策信息。同时有效地对这些Web日志进行定量分析，揭示其中的关联关系、时序关系、页面类属关系、客户类属关系和频繁访问路径、频繁访问页面等，不但可为优化Web站点拓扑结构提供参考，而且还可为企业更有效地确认目标市场、改进决策获得更大的竞争优势提供帮助。</p>
			</li>
			<li class="i">
				<a href="http://home.shuju.taobao.com/">数据分析</a>
				<p>为企业提供全方位的信息化建设服务，不仅仅是CRM、OA、ERP。</p>
			</li>
		</ul>
	</div>
</div>
