html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
ul,li,ol{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
a{font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:0;padding:0;}
input,select{margin: 0;padding: 0;-webkit-appearance: none; border-style: none;}
em,strong,th{font-style:normal;}
input[type="search"]{-webkit-appearance:none;}
input[type="submit"]{-webkit-appearance:none;background-color:transparent;}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button{display:none;}

body{line-height:22px;font-family:Arial,Helvetica,LiHei Pro Medium;font-size:14px;color:#000;-webkit-text-size-adjust:none;}
a{color:#8e8e8e;text-decoration:none;}
a:hover{color:#00a2e9;}

.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden; }
* html>body .clearfix { display:inline-block; width:100%; }
* html .clearfix { height:1%; /* End hide from IE-mac */ } 
/* ie7 hack*/ 
*+html .clearfix { min-height:1%; } 
.clearfix{zoom:1;}

#Container{margin:0;padding:0;}
.wapper{margin:0 auto;width:1000px;}

#top{height:34px;line-height:34px;background:#2E2E33;font-size:12px;color:#aaa;text-align:right;}
#top a{font-size:12px;color:#aaa;}
#top a:hover{color:#00a2e9;}
#top span{margin:0 10px;color:#666;}
#top b{margin-left:8px;font-size:14px;font-weight:normal;font-family:Arial, Helvetica, sans-serif;color:#00a3e9;}

#Header{height:100px;background:#FBFBFB;}
#logo{float:left;display:inline;padding:14px 0 0 10px;}
#logo img{}
.navs{float:right;display:inline;padding:46px 0 0;}
.navs a{margin:0 28px;font-size:16px;color:#00afec;}

#PageBody{min-height:600px;}
#Footer{background:#222;color:#999;}
#foot{padding:40px 0;height:150px;}
.foot-li{float:left;display:inline;margin-right:40px;width:170px;}
.foot-li h4{font-size:16px;color:#FFF;}
.foot-li ul{margin-top:10px;}
.foot-li li{padding:4px 0;line-height:20px;}
.foot-li li a{color:#8e8e8e;}
.foot-li li a:hover{color:#00a2e9;}
.f-contacts{float:right;display:inline;width:260px;}
.f-contacts h4{font-size:16px;color:#4da422;}
.f-contacts ul{margin-top:10px;}
.f-contacts li{padding:4px 0;line-height:20px;}
.f-contacts li a{color:#8e8e8e;}
.f-contacts li a:hover{color:#00a2e9;}

.copy{line-height:45px;background:#101010;font-size:12px;color:#8e8e8e;text-align:center;}

.slider{background:rgb(230, 230, 230);}
.s-block{}
.s-block img{width:1000px;height:350px;}

.i-products{padding:40px 0 160px;background:#FFF;}
.i-products h4{padding:20px 0 40px;line-height:22px;font-weight:normal;font-size:22px;color:#333;}
.i-products ul{}
.i-products ul li{float:left;display:inline;margin-left:35px;}
.i-products ul li.first{margin-left:0;}
.i-products ul li .li-block{margin-bottom:30px;}
.i-products ul li .li-block a{display:block;padding:80px 0;width:310px;height:25px;font-size:16px;color:#FFF;text-align:center;}
.i-products ul li p{margin:0;width:310px;line-height:36px;font-size:14px;color:#666;}
.i-products ul li p a{color:#00afec;}
.i-products ul li p a:hover{color:#00afec;text-decoration:underline;}

.i-products ul li .a a{background:#27b362;}
.i-products ul li .a a:hover{background:#51C180;}
.i-products ul li .b a{background:#3397DB;}
.i-products ul li .b a:hover{background:#5AAAE1;}
.i-products ul li .c a{background:#DB552F;}
.i-products ul li .c a:hover{background:#E17657;}
.i-products ul li .d a{background:#019eaf;}
.i-products ul li .d a:hover{background:#32B0BE;}
.i-products ul li .e a{background:#15a21e;}
.i-products ul li .e a:hover{background:#42B34A;}
.i-products ul li .f a{background:#d87a25;}
.i-products ul li .f a:hover{background:#DE934F;}
.i-products ul li .g a{background:#ec6c62;}
.i-products ul li .g a:hover{background:#EE8880;}
.i-products ul li .h a{background:#3397DB;}
.i-products ul li .h a:hover{background:#5AAAE1;}
.i-products ul li .i a{background:#27b362;}
.i-products ul li .i a:hover{background:#51C180;}

.section{margin:30px auto 0;padding:0 0 30px;}
.section-l{float:left;display:inline;width:160px;}
.section-l ul{}
.section-l ul li{padding:8px 0;line-height:20px;border-top:1px solid #F2F2F2;}
.section-l ul li.first{border:0;}
.section-l ul li a{color:#00afec;}
.section-l ul li a:hover{color:#00afec;text-decoration:underline;}
.section-l ul li a.cur{font-weight:bold;}
.section-m{float:right;display:inline;width:800px;}
.section-t{padding:40px 308px 40px 40px;background:#f8f8fa;border:1px solid #f2f2f2;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.section-t h2{font-weight:400;font-size:18px;}
.section-t p{margin-top:17px;line-height:25px;font-size:14px;color:#444;}
.section-list{}
.section-li{margin-top:58px;}
.section-li-i{float:left;display:inline;margin-left:30px;width:200px;height:140px;border:1px solid #F2F2F2;}
.section-li-i a{display:block;width:200px;height:140px;text-align:center;}
/*.section-li-i a.website{background:url(/assets/website.png) no-repeat center top;}*/
.section-li-m{float:left;display:inline;margin-left:30px;width:500px;}
.section-li-m h4{padding:6px 0 6px;line-height:20px;font-size:14px;}
.section-li-m p{margin:6px 0;line-height:26px;color:#444;}
.section-li-m p a{color:#00afec;}
.section-li-m p a:hover{color:#00afec;text-decoration:underline;}
.section-c{margin-top:20px;padding:0 10px;}
.section-c h4{padding:14px 0;font-size:16px;}
.section-c p{padding:6px 0;line-height:26px;}

.section-website{background:url(/assets/website.png) no-repeat 587px 25px #f8f8fa;}
.section-software{background:url(/assets/software.png) no-repeat 587px center #f8f8fa;}
.section-app{background:url(/assets/mobile.png) no-repeat 587px center #f8f8fa;}

.about-us{margin:20px auto 30px;}
.about-t{padding:40px 460px 40px 40px;background:#f8f8fa;border:1px solid #f2f2f2;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.about-t h2{font-weight:bold;font-size:16px;}
.about-t p{margin-top:10px;line-height:25px;font-size:12px;color:#444;}
.about-m{padding:0 10px;}
.about-m h4{margin:30px 0 10px 0;font-size:16px;}
.about-m p{line-height:24px;font-size:14px;}
