<div class="wapper section clearfix">
	<div class="section-l">
		<%= render "nav", object: @local %>
	</div>
	<div class="section-m">
		<div class="section-t section-app">
			<h2>移动应用</h2>
			<p>企业移动应用解决方案，洞悉在移动互联网时代企业存在的管理困惑，通过不同的移动应用与业务系统的无缝集成，帮助客户随时随地的获取信息和处理工作。</p>
		</div>
		<div class="section-c">
			<h4>客户价值</h4>
			<p>精心设计的交互操作和良好的用户体验，方便和快捷，带来移动互联网时代，个性时尚的现代工作方式。</p>
			<p>企业移动应用与业务系统，无缝对接，互联互通，无论何时何地，方便快捷的处理工作和获取信息，将时间碎片价值最大化，改善了企业的工作效率。</p>
		</div>
	</div>
</div>
