<div class="wapper section clearfix">
	<div class="section-l">
		<%= render "nav", object: @local %>
	</div>
	<div class="section-m">
		<div class="section-t">
			<h2>设计开发</h2>
			<p>
				信息化是企业的必然选择，也是提高企业竞争力的利器和手段。<br />
				为各类企业事业机构提供专业的软件开发及信息化服务。
			</p>
		</div>
		<div class="section-list">
			<div class="section-li clearfix">
				<div class="section-li-i"><a href="/products/website"></a></div>
				<div class="section-li-m">
					<h4>网站建设</h4>
					<p>一流的设计师设计 + 网站功能强大 + 专业建站方案 + 网站售后完整 + 网站速度超快 + 网站安全稳定</p>
					<p><a href="/products/website">了解详情</a></p>
				</div>
			</div>
			<div class="section-li clearfix">
				<div class="section-li-i"><a href="/products/software"></a></div>
				<div class="section-li-m">
					<h4>软件开发</h4>
					<p>为客户量身定制，开发最适合的企业管理软件，定制软件可以满足客户不同需求，市场环境的变化需要随需而变的企业管理软件，让管理不再模式化。</p>
					<p><a href="/products/software">了解详情</a></p>
				</div>
			</div>
			<div class="section-li clearfix">
				<div class="section-li-i"><a href="/products/app"></a></div>
				<div class="section-li-m">
					<h4>移动应用</h4>
					<p>企业移动应用如同企业互联网应用一样得到了越来越多企业的认可，其应用内容是指企业基于移动互联网或以移动互联网为核心基础所采用的以营销推广或形象展示为目的的相关产品及服务，其中包括移动寻址服务、短信息互动服务、移动虚拟空间租用服务、APP服务、APP推广服务、二维码等。</p>
					<p><a href="/products/app">了解详情</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
