<div class="wapper section clearfix">
	<div class="section-l">
		<%= render "nav", object: @local %>
	</div>
	<div class="section-m">
		<div class="section-t">
			<h2>软件开发</h2>
			<p>为客户量身定制，开发最适合的企业管理软件，定制软件可以满足客户不同需求，市场环境的变化需要随需而变的企业管理软件，让管理不再模式化。</p>
		</div>
		<div class="section-c">
			<h4>定制软件的优点</h4>
			<p>１.针对性强</p>
			<p>每一个软件的开发都要经过细致的系统分析，针对不同企业的情况，编制最适用的程序。在编写软件的过程中，可以将管理者的最新管理思路或者最科学的管理模式融入到软件的数学模型中，从而大大提高了软件的科学价值，带给企业巨大的经济效益。</p>
			<p>２.使用方便</p>
			<p>完全根据企业现有的工作流程编制程序，您只需具备基本的计算机使用知识，就可以自如的操控软件，不必进行复杂的培训。</p>
			<p>３.费用低廉</p>
			<p>定制软件根据企业实际情况，编制企业所需的功能模块，删除没有实际使用价值的功能，最大限度的缩短开发周期，从而节省开发费用。</p>
			<p>４.服务周到</p>
			<p>定制软件在使用过程中出现的问题，我们将会上门解决，对于在调试期内的软件，可以根据实际应用做一些小范围调整，对于一些非定制软件产生的使用故障，也可以由我们统一解决。</p>
		</div>
	</div>
</div>
