<div class="wapper section clearfix">
	<div class="section-l">
		<%= render "nav", object: @local %>
	</div>
	<div class="section-m">
		<div class="section-t">
			<h2>网站建设</h2>
			<p>我们关注客户的商业目标和品牌价值，坚持以“为客户提供价值服务”的理念，为客户寻找最佳的网站建设解决方案，帮助企业树立差异性的品牌形象，从竞争对手中脱颖而出，并为后期的网络品牌推广以及产品推广做好扎实的网络品牌基础。</p>
		</div>
		<div class="section-c">
			<h4>项目流程</h4>
			<p>项目启动会议</p>
			<p>需求分析，方案确定，时间预估，项目报价，合同签订并预付定金</p>
			<p>项目架构规划，首页主视觉设计，内页设计，交互设计，前端HTML制作</p>
			<p>网站功能开发，网站后台界面开发，网站简易版上线，网站测试</p>
			<p>验收网站，修改晚上，结清余款，网站上线，SEO内部优化，流量监测，提供1年免费技术维护</p>
		</div>
	</div>
</div>
