<div class="wapper section clearfix">
	<div class="section-l">
		<%= render "nav", object: @local %>
	</div>
	<div class="section-m">
		<div class="section-t section-website">
			<h2>网站建设</h2>
			<p>我们关注客户的商业目标和品牌价值，坚持以“为客户提供价值服务”的理念，为客户寻找最佳的网站建设解决方案，帮助企业树立差异性的品牌形象，从竞争对手中脱颖而出，并为后期的网络品牌推广以及产品推广做好扎实的网络品牌基础。</p>
		</div>
		<div class="section-c">
			<h4>项目流程</h4>
			<p>项目启动会议</p>
			<p>需求分析，方案确定，时间预估，项目报价，合同签订并预付定金</p>
			<p>项目架构规划，首页主视觉设计，内页设计，交互设计，前端HTML制作</p>
			<p>网站功能开发，网站后台界面开发，网站简易版上线，网站测试</p>
			<p>验收网站，修改晚上，结清余款，网站上线，SEO内部优化，流量监测，提供1年免费技术维护</p>
		</div>
		<div class="section-c">
			<h4>主要案例</h4>
			<p>2008</p>
			<div class="sites">
				<ul class="clearfix">
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2008/nxqmcy.jpg" /><span></span><i>宁夏全民创业网</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2008/nxykdxjyx.jpg" /><span></span><i>宁夏医科大学检验系</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2008/nxlycy.jpg" /><span></span><i>宁夏绿源茶叶</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2008/nxlj.jpg" /><span></span><i>宁夏隆基宁光仪表</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2008/plcy.jpg" /><span></span><i>平罗创业网</i></a>
					</li>
				</ul>
				<a href="javascript:void(0);" class="prev"><i></i></a>
				<a href="javascript:void(0);" class="next"><i></i></a>
			</div>
			<p>2009</p>
			<div class="sites">
				<ul class="clearfix">
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2009/51890.jpg" /><span></span><i>51890</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2009/zhongfang.jpg" /><span></span><i>中房展板</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2009/dyzs.jpg" /><span></span><i>大洋装饰</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2009/nxykt.jpg" /><span></span><i>宁夏一卡通</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2009/nxrskszx.jpg" /><span></span><i>宁夏人事考试中心</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2009/nxcyfw.jpg" /><span></span><i>宁夏创业指导服务网</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2009/nxdm.jpg" /><span></span><i>宁夏动漫网</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2009/nxlyxjy.jpg" /><span></span><i>宁夏蓝怡星教育技术培训学校</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2009/nxyyhk.jpg" /><span></span><i>宁夏银鹰航空机票服务有限公司</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2009/plkj.jpg" /><span></span><i>平罗科技信息网</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2009/ynxxda.jpg" /><span></span><i>永宁档案信息网</i></a>
					</li>
				</ul>
				<a href="javascript:void(0);" class="prev"><i></i></a>
				<a href="javascript:void(0);" class="next"><i></i></a>
			</div>
			<p>2010</p>
			<div class="sites">
				<ul class="clearfix">
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2010/zyqc.jpg" /><span></span><i>中盈汽车俱乐部</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2010/etfl.jpg" /><span></span><i>儿童福利院</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2010/tysdjd.jpg" /><span></span><i>太阳神大酒店</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2010/plcy.jpg" /><span></span><i>平罗创业网</i></a>
					</li>
				</ul>
				<a href="javascript:void(0);" class="prev"><i></i></a>
				<a href="javascript:void(0);" class="next"><i></i></a>
			</div>
			<p>2011</p>
			<div class="sites">
				<ul class="clearfix">
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2011/nxcslh.jpg" /><span></span><i>宁夏城市亮化有限公司</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2011/gysf.jpg" /><span></span><i>固原师范</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2011/nxjyycy.jpg" /><span></span><i>宁夏就业与创业</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2011/nxwzsh.jpg" /><span></span><i>宁夏温州商会</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2011/nxzmzs.jpg" /><span></span><i>宁夏筑美装饰</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2011/yccycy.jpg" /><span></span><i>银川创意产业网</i></a>
					</li>
				</ul>
				<a href="javascript:void(0);" class="prev"><i></i></a>
				<a href="javascript:void(0);" class="next"><i></i></a>
			</div>
			<p>2012</p>
			<div class="sites">
				<ul class="clearfix">
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2012/dcyy.jpg" /><span></span><i>东城.影院</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2012/gydc.jpg" /><span></span><i>亘元房产</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2012/wzga.jpg" /><span></span><i>吴忠公安</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2012/wzgtzy.png" /><span></span><i>吴忠市国土资源局</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2012/gjmsltz.jpg" /><span></span><i>国际穆斯林投资贸易网</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2012/tdxh.jpg" /><span></span><i>土地学会</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2012/nxcqjy.jpg" /><span></span><i>宁夏产权交易所</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2012/nxykdggws.jpg" /><span></span><i>宁夏医科大学公共卫生学院</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2012/nxgt-ch.png" /><span></span><i>宁夏回族自治区国土资源厅（测绘地理信息局）</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2012/nxgt-sz.png" /><span></span><i>宁夏国土资源厅在线数字刊物</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2012/nxaj.jpg" /><span></span><i>宁夏安检网</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2012/nxqnlhh.png" /><span></span><i>宁夏青年联合会</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2012/nmwz.jpg" /><span></span><i>宁煤物资公司</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2012/bfny-1.png" /><span></span><i>宝丰能源主页</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2012/bfny-2.png" /><span></span><i>宝丰能源首页</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2012/shzy.jpg" /><span></span><i>沙湖纸业</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2012/hnsh.jpg" /><span></span><i>河南商会</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2012/zhxxw.jpg" /><span></span><i>综合信息网</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2012/mjzy.jpg" /><span></span><i>美洁纸业</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2012/hlws.png" /><span></span><i>贺兰县卫生局</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2012/jfqbm.png" /><span></span><i>金凤区家庭服务便民网</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2012/nxyhpm.png" /><span></span><i>银川东方京宁建材科技有限公司（银川远辉泡沫制品有限公司）</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2012/ycbgs.jpg" /><span></span><i>银川巴格斯酒庄</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2012/yczljs.png" /><span></span><i>银川市质量技术监督局</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2012/ycsh.png" /><span></span><i>银川松鹤陵园</i></a>
					</li>
				</ul>
				<a href="javascript:void(0);" class="prev"><i></i></a>
				<a href="javascript:void(0);" class="next"><i></i></a>
			</div>
			<p>2013</p>
			<div class="sites">
				<ul class="clearfix">
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2013/zwjycy.jpg" /><span></span><i>中卫市就业创业网</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2013/lyts.png" /><span></span><i>亮眼天使</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2013/gcpcs.jpg" /><span></span><i>古城派出所</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2013/tdzz.jpg" /><span></span><i>土地整治局</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2013/xslhh.jpg" /><span></span><i>学生联合会</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2013/nxzywl.jpg" /><span></span><i>宁夏众一物流</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2013/nxysrl.jpg" /><span></span><i>宁夏元盛人力资源</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2013/nxdzkc.png" /><span></span><i>宁夏回族自治区地质矿产勘查开发局</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2013/nxjyysh.jpg" /><span></span><i>宁夏就业与社会保障网</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2013/nxsby.jpg" /><span></span><i>宁夏思博雅教育培训</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2013/nxjyzx.jpg" /><span></span><i>宁夏教育在线</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2013/nxmcq.jpg" /><span></span><i>宁夏木传奇</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2013/nxmlcd1.jpg" /><span></span><i>宁夏梦乐床垫主页</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2013/nxmlcd2.jpg" /><span></span><i>宁夏梦乐床垫片头</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2013/nxhszh.jpg" /><span></span><i>宁夏红十字会</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2013/nxqsn.jpg" /><span></span><i>宁夏青少年网</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2013/sxd.jpg" /><span></span><i>少先队</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2013/moro.png" /><span></span><i>梦露电气 - MORO</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2013/lwjycy.jpg" /><span></span><i>灵武就业创业网</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2013/ycjc.jpg" /><span></span><i>银川河东国际机场</i></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/assets/sites/2013/yccx.png" /><span></span><i>银川诚信网</i></a>
					</li>
				</ul>
				<a href="javascript:void(0);" class="prev"><i></i></a>
				<a href="javascript:void(0);" class="next"><i></i></a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		$('.sites').hover(function(){
			$(this).find('.prev, .next').show();
		}, function(){
			$(".sites .prev, .sites .next").hide();
		});
		
		$('.sites .prev').click(function(){
			var p = $(this).parent()
				, l = p.find('li').length
				, _pl = parseInt(p.find('ul').css('left'), 10);
			if(_pl < 5){
				_pl = _pl + 200;
				p.find('ul').animate({
						'left' : _pl + 'px'
					}, 600);
			}
		});
		
		$('.sites .next').click(function(){
			var p = $(this).parent()
				, l = p.find('li').length
				, _pl = parseInt(p.find('ul').css('left'), 10);
			if(_pl > -(l - 4) * 200 + 5){
				_pl = _pl - 200;
				p.find('ul').animate({
						'left' : _pl + 'px'
					}, 600);
			}
		});
		
		$('.sites li a').click(function(){
			$(this).attr('href', $(this).find('img').attr('src')).attr('target', '_blank');
		});
	});
</script>
