<div class="wapper section clearfix">
	<div class="section-l">
		<%= render "nav", object: @local %>
	</div>
	<div class="section-m">
		<div class="section-t">
			<h2>农业</h2>
			<p>把推进农业农村信息化放在社会主义新农村建设的突出位置，充分发挥信息化在加快转变农业发展方式、改善农民生活、统筹城乡发展中的重要作用，加快信息强农惠农。</p>
		</div>
		<div class="section-c">
			<h4>协力推进农业农村信息化</h4>
			<p>把推进农业农村信息化放在社会主义新农村建设的突出位置，充分发挥信息化在加快转变农业发展方式、改善农民生活、统筹城乡发展中的重要作用，加快信息强农惠农。</p>

　　<p>1.完善农村综合信息服务体系。建立全国农业综合信息服务平台。按照政府主导、社会参与、资源整合、多方共建的原则，加快农村基层信息服务站和信息员队伍建设，形成村为节点、县为基础、省为平台、全国统筹的农村综合信息服务体系。</p>

　　<p>2.加强涉农信息资源整合。科学规划各级政府部门涉农信息资源建设，集约建设涉农信息系统、服务平台和农业综合基础数据库。发展专业性信息资源服务平台,丰富农村信息服务内容。大力推进信息技术在农业生产、经营、管理和服务各环节的应用，引导农业生产经营向精准化、集约化、智能化方向发展。推进农业信息化试点示范，促进形成具有地方特色的农业信息化应用模式。</p>

　　<p>专栏6  大力推动信息兴农</p>

　　<p>涉农信息资源整合集成计划。鼓励建设农业农村综合信息资源和服务平台，重点建立粮食、瓜果蔬菜、畜禽、水产品等专业性信息资源和服务平台，支撑重点农业产品产业链管理和科技服务信息化。</p>

　　<p>电子商务助农工程。发展农产品电子商务，减少农产品流通环节，推动产销对接，支持订单农业发展。鼓励发展跨区域、专业化的农产品特色网站和交易网络，形成以批发市场、商贸中心、物流调度中心和商品集散地为依托的农业电子商务服务体系。</p>

　　<p>现代农业信息科技计划。推进重点农产品种植养殖、生产加工、储运销售等各环节可追溯系统的建设和应用，提供农产品物流信息查询、智能配送、货物跟踪等物流信息服务。建立粮食主产区的气象监测预报、重大自然灾害预警防范、植被物候变化、生态环境保护、动植物疫情监测检验检测等信息系统，形成全面覆盖、及时响应的农业减灾防灾预警平台。完善农产品市场价格信息监测服务体系，健全农业专家信息咨询服务体系。</p>
		</div>
	</div>
</div>
