<div class="wapper section clearfix">
	<div class="section-l">
		<%= render "nav", object: @local %>
	</div>
	<div class="section-m">
		<div class="section-t">
			<h2>农业</h2>
			<p></p>
		</div>
		<div class="section-c">
			<h4>定制软件的优点</h4>
			<p>定制软件在使用过程中出现</p>
		</div>
	</div>
</div>
