<div class="wapper section clearfix">
	<div class="section-l">
		<%= render "nav", object: @local %>
	</div>
	<div class="section-m">
		<div class="section-t">
			<h2>教育</h2>
			<p>基础设施建设；资源开发应用：视频教育资源库，信息资源网，教学资源库，“爱课程”网、中国网络电视台、网易3个网站“中国大学视频公开课”，远程网络教育；管理水平提升：教育考试招生与安全监管信息化平台，校舍信息管理系统，高校学籍管理和学历认证信息化，就业信息服务平台；人才队伍建设：教育技术能力培训</p>
		</div>
		<div class="section-c">
			<h4>大力提高教育信息化水平</h4>
			<p>加快学校宽带网络建设，发展现代远程教育和网络教育，推进优质教育资源普及共享。加大中小学、各类职业院校和培训机构教师的信息素养和信息技术应用能力培训力度。加快开放公共数字化教学资源，构建面向全民的终身学习网络和服务平台。</p>
			<h4>教育管理信息</h4>
			<p>1、教育管理基础</p>
			<p>2、教育管理基础信息</p>
			<p>3、教育行政管理信息</p>
			<p>4、普通中小学校管理信息</p>
			<p>
				（1）学校概况<br />
				（2）学生管理<br />
				（3）德育管理<br />
				（4）教学管理<br />
				（5）体育卫生<br />
				（6）教职工管理<br />
				（7）科研管理<br />
				（8）房产与设施<br />
				（9）仪器设备与实验室<br />
				（10）图书管理<br />
				（11）办公管理<br />
				（12）安全管理
			</p>
			<p>5、中职学校管理信息</p>
			<p>
				（1）学校概况<br />
				（2）学生管理<br />
				（3）招生管理<br />
				（4）教职工管理<br />
				（5）教学管理<br />
				（6）房产与设施<br />
				（7）仪器设备与图书<br />
				（8）办公管理<br />
				（9）办学经费
			</p>
			<p>6、高等学校管理信息</p>
			<p>
				（1）学校概况<br />
				（2）学生管理<br />
				（3）教学管理<br />
				（4）教职工管理<br />
				（5）科研管理<br />
				（6）财务管理<br />
				（7）资产与设备管理<br />
				（8）办公管理<br />
				（9）外事管理<br />
				（10）档案管理<br />
				（11）专用
			</p>
			<p>7、教育统计信息</p>
			<p>
				（1）统计报表管理<br />
				（2）学校机构管理<br />
				（3）学生统计信息<br />
				（4）教职工统计信息<br />
				（5）办学条件统计信息
			</p>
		</div>
	</div>
</div>
