<div class="wapper section clearfix">
	<div class="section-l">
		<%= render "nav", object: @local %>
	</div>
	<div class="section-m">
		<div class="section-t">
			<h2>家庭自动化</h2>
			<p>利用微处理电子技术，来集成或控制家中的电子电器产品或系统，例如：照明灯、咖啡炉、电脑设备、保安系统、暖气及冷气系统、视讯及音响系统等</p>
		</div>
		<div class="section-c">
			<h4>分类：</h4>
			<p>控制主机（集中控制器）：Smarthome Control Center。</p>
			<p>智能照明系统。Intelligent Lighting System（ILS）。</p>
			<p>电器控制系统。Electrical Apparatus Control System（EACS）。</p>
			<p>家庭影院系统。Speakers, A/V & Home Theater。</p>
			<p>对讲系统。Video Door Phone（VDP）。</p>
			<p>视频监控。Cameras and Surveillance。</p>
			<p>防盗报警。Home Alarm System。</p>
			<p>电锁门禁。Door Locks & Access Control。</p>
			<p>智能遮阳（电动窗帘）。Intelligent Sunshading System/Electric Curtain。</p>
			<p>暖通空调系统。Thermostats & HVAC Controls。</p>
			<p>太阳能与节能设备。Solar & Energy Savers。</p>
			<p>自动抄表。Automatic Meter Reading System（AMR）。</p>
			<p>智能家居软件。Smarthome Software。</p>
			<p>家居布线系统。Cable & Structured Wiring。</p>
			<p>家庭网络。Home Networking。</p>
			<p>厨卫电视系统。Kitchen TV & Bathroom Built-In TV System。</p>
			<p>运动与健康监测。Exercise and Health Monitoring。</p>
			<p>花草自动浇灌。Automatic Watering Circuit。</p>
			<p>宠物照看与动物管制。Pet Care & Pest Control。	</p>
		</div>
	</div>
</div>
