<div class="wapper section clearfix">
	<div class="section-l">
		<ul>
			<%= render "nav", object: @local %>
		</ul>
	</div>
	<div class="section-m">
		<div class="section-t">
			<h2>行业方案</h2>
			<p>关注信息化发展的市场需求和前沿成果，着力应用与普及。<br />
				到2015年，信息化和工业化深度融合取得显著进展，经济社会各领域信息化水平显著提升，信息化发展水平指数达到0.79。
			</p>
		</div>
		<div class="section-list">
			<div class="section-li clearfix">
				<div class="section-li-i"><a href="/solutions/industry"><img src="/assets/i-industry.jpg" /></a></div>
				<div class="section-li-m">
					<h4>工业</h4>
					<p>围绕促进工业转型升级的要求，全方位、多层次推动信息技术在工业领域的覆盖渗透、应用集成和融合创新。</p>
					<p><a href="/solutions/industry">了解详情</a></p>
				</div>
			</div>
			<div class="section-li clearfix">
				<div class="section-li-i"><a href="/solutions/service"><img src="/assets/i-commerce.jpg" /></a></div>
				<div class="section-li-m">
					<h4>服务业</h4>
					<p>适应服务业发展和居民消费结构升级的需要，深化信息技术在服务业的应用，积极培育新型服务业态，推动现代服务业发展。</p>
					<p><a href="/solutions/service">了解详情</a></p>
				</div>
			</div>
			<div class="section-li clearfix">
				<div class="section-li-i"><a href="/solutions/education"><img src="/assets/i-edu.jpg" /></a></div>
				<div class="section-li-m">
					<h4>教育</h4>
					<p>教学手段科技化、教育传播信息化、教学方式现代化。</p>
					<p>现代远程教育；教育应用管理软件，具备学籍管理、人事管理、教学管理、安全管理、财产管理等多种功能；教学课件；网络教学资源库</p>
					<p><a href="/solutions/education">了解详情</a></p>
				</div>
			</div>
			<div class="section-li clearfix">
				<div class="section-li-i"><a href="/solutions/agriculture"><img src="/assets/i-agriculture.jpg" /></a></div>
				<div class="section-li-m">
					<h4>农业</h4>
					<p>把推进农业农村信息化放在社会主义新农村建设的突出位置，充分发挥信息化在加快转变农业发展方式、改善农民生活、统筹城乡发展中的重要作用，加快信息强农惠农。</p>
					<p><a href="/solutions/agriculture">了解详情</a></p>
				</div>
			</div>
			<div class="section-li clearfix">
				<div class="section-li-i"><a href="/solutions/medical"><img src="/assets/i-medical.gif" /></a></div>
				<div class="section-li-m">
					<h4>医疗</h4>
					<p>疾病预防；食品药品监督；医药商业企业流通；医药流通行业应用接入</p>
					<p><a href="/solutions/medical">了解详情</a></p>
				</div>
			</div>
			<div class="section-li clearfix">
				<div class="section-li-i"><a href="/solutions/transports"><img src="/assets/i-transports.jpg" /></a></div>
				<div class="section-li-m">
					<h4>交通物流</h4>
					<p>仓库管理；GPS技术在农村公路数据采集中的应用</p>
					<p><a href="/solutions/transports">了解详情</a></p>
				</div>
			</div>
			<div class="section-li clearfix">
				<div class="section-li-i"><a href="/solutions/city"><img src="/assets/i-city.jpg" /></a></div>
				<div class="section-li-m">
					<h4>环境、智慧城市</h4>
					<p>道路照明无线监控； “城管通”城市管理移动信息化；城市管理及社会防控；环保污染源监控存储</p>
					<p><a href="/solutions/city">了解详情</a></p>
				</div>
			</div>
			<div class="section-li clearfix">
				<div class="section-li-i"><a href="/solutions/tour"><img src="/assets/i-tour.jpg" /></a></div>
				<div class="section-li-m">
					<h4>旅游</h4>
					<p>商旅酒店综合信息化；旅游行业视频监控</p>
					<p><a href="/solutions/tour">了解详情</a></p>
				</div>
			</div>
			<div class="section-li clearfix">
				<div class="section-li-i"><a href="/solutions/home"><img src="/assets/i-home.jpg" /></a></div>
				<div class="section-li-m">
					<h4>智能家居</h4>
					<p>以住宅为平台，利用综合布线技术、网络通信技术、 智能家居-系统设计方案安全防范技术、自动控制技术、音视频技术将家居生活有关的设施集成，构建高效的住宅设施与家庭日程事务的管理系统，提升家居安全性、便利性、舒适性、艺术性，并实现环保节能的居住环境</p>
					<p><a href="/solutions/home">了解详情</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
