<div class="wapper section clearfix">
	<div class="section-l">
		<%= render "nav", object: @local %>
	</div>
	<div class="section-m">
		<div class="section-t">
			<h2>工业</h2>
			<p>围绕促进工业转型升级的要求，全方位、多层次推动信息技术在工业领域的覆盖渗透、应用集成和融合创新。</p>
		</div>
		<div class="section-c">
			<h4>促进工业领域信息化深度应用</h4>
			<p>1.推进信息技术在工业领域全面普及。深化信息技术在企业生产经营管理各环节的应用，大力推广数字化研发设计工具，促进研发流程变革和模式转型，实现多专业、跨企业研发协同创新。加快生产装备数字化和生产过程智能化，推广原材料工业集约化、装备制造业智能化、消费品工业精准化生产方式。全面普及企业资源计划、供应链、客户关系等管理信息系统，加快推动经营管理现代化进程。</p>

　　<p>2.推动综合集成应用和业务协同创新。促进研发、生产、经营管理各环节信息集成和业务协同，推动企业从单项业务应用向多业务综合集成转变。以集成应用支撑业务流程优化，促进组织结构合理化、运营一体化和决策科学化。推动信息化应用从单一企业向全产业链协同创新转变。</p>

　　<p>专栏1  智能工业推进工程</p>

　　<p>推动建立协同研发体系。深化数字化研发设计工具应用，加快工艺设计数字化和绿色化，推进工艺知识管理和智能专家系统建设，提升工艺仿真和优化能力。加强产学研资源整合，以多专业协同和跨企业协作为重点，建设协同共享的研发设计体系。推动高端装备研发设计多学科综合优化。</p>

　　<p>加强企业信息技术改造。加强嵌入式系统和先进过程控制系统的研发和应用。以企业关键工序自动化生产线升级为突破口，实施底层生产装备和制造网络的数字化、网络化和智能化改造升级，深化现场总线、无线传感技术应用，推广自动化仪表和数字化检测设施，加强过程信息采集、管理和分析优化系统建设，提高生产过程可控性和管理精细度，提升产品质量，降低能耗物耗和污染排放。</p>

　　<p>开展集成系统应用创新示范。开展企业综合集成应用示范，以主要行业大型企业为重点，推动企业加强研发设计、生产制造、经营管理、市场流通等业务环节的集成创新。建立产品全生命周期信息跟踪、反馈系统，构建决策智能化平台。开展产业链协同创新应用示范，完善行业骨干企业的供应链管理、客户关系管理和现代物流管理体系，推动跨企业资源整合，建立健全行业龙头牵引、产业链上下游企业协同共享的协作机制。</p>　

　　<p>3.加快制造业服务化进程。推动制造企业完善研发设计、生产制造、市场营销、售后服务、回收处理的产品全生命周期信息集成和跟踪服务，面向客户提供个性化产品设计和整体解决方案，加强备品备件管理、在线实时监测、远程故障诊断、工控系统安全监控、网上支付结算等增值服务。继续深化制造业信息化科技工程，为制造业转型升级提供支撑。</p>

　　<p>专栏2  制造业信息化科技工程</p>

　　<p>围绕制造业结构调整、转型升级和全球化、服务化、智能化、绿色化发展需求，着力突破一批引领性、创新性的制造业信息化关键技术，着力打造数字企业、服务型制造企业和产业服务平台。</p>

　　 <p>攻克制造知识融合、产品创新研发、全生命周期管理与服务等关键技术，形成一批技术成果与软件产品。推广制造服务技术与系统，加速制造业企业向产业价值链高端迈进。在高端装备、生产过程、产品物联和物流中应用制造物联技术与系统，显著提高生产自动化程度和物流效率。打造全球协作和集团管控大型数字企业，提高产业集群协作能力和面向中小企业的服务能力。进一步完善制造业信息化技术培训体系、咨询服务体系、标准体系，形成制造业信息化发展的长效机制。</p>

　　<p>4.推广节能减排信息技术。推动重点行业节能减排信息技术的普及和深入应用，提高绿色研发设计能力，加大主要耗能、耗材设备和工艺流程的数字化、网络化和智能化改造。建立健全资源能源综合利用效率监测和评价体系，改进资源能源需求侧管理，提升资源能源供需双向调节水平。大力发展环保装备专用测控一体化技术，建立健全符合行业发展和区域生产力布局特点的主要污染物排放监测和固体废弃物综合利用信息管理系统，完善污染治理监督管理体系。</p>

　　<p>5.建立两化融合服务支撑体系。完善企业信息化和工业化融合水平评估认定体系，推广行业评估规范，指导中介机构开展重点行业和企业两化融合发展水平评估，健全企业信息化水平评价工作机制。建立国家级信息化和工业化融合促进中心，支持面向具体行业的信息化公共服务平台发展。加强国家新型工业化产业示范基地、国家级信息化和工业化融合试验区建设，支持地方开展两化融合评估和监测，完善区域信息化服务体系。</p>

　　<p>专栏3  信息化和工业化深度融合服务体系建设重点</p>

　　<p>建设两化融合促进中心。依托工业园区、重点企业、行业协会、高等院校和科研机构，建设实体性和虚拟性的国家级信息化和工业化融合促进中心，提供适合市场需求的行业解决方案，发展各类专业化服务。</p>

　　<p>建设两化融合公共服务平台。面向行业和产业集群，建设低成本、高效益、安全可靠的公共服务平台，提高研发设计、业务外包、市场营销、监理实施的支撑服务能力，推广信息技术产品和行业信息化解决方案。依托重点企业、重点院校和社会培训机构，建设信息化和工业化融合培训和实训基地。</p>
		</div>
	</div>
</div>
