<div class="wapper section clearfix">
	<div class="section-l">
		<%= render "nav", object: @local %>
	</div>
	<div class="section-m">
		<div class="section-t">
			<h2>医疗</h2>
			<p>医疗服务信息化是国际发展趋势。随着信息技术的快速发展，国内越来越多的医院正加速实施基于信息化平台、 HIS 系统的整体建设，以提高医院的服务水平与核心竞争力。 信息化不仅提升了医生的工作效率，使医生有更多的时间为患者服务，更提高了患者满意度和信任度，无形之中树立起了医院的科技形象。因此，医疗业务应用与基础网络平台的逐步融合正成为国内医院，尤其是大中型医院信息化发展的新方向。</p>
		</div>
		<div class="section-c">
			<h4>加快医疗卫生信息化建设</h4>
			<p>围绕健全医疗服务体系的需要，完善医疗服务与管理信息系统，加快建立居民电子健康档案和电子病历，为开展远程医疗、远程救治和推进优质医疗资源共享打下基础。完善疾病和公共卫生事件直报系统和疾控管理信息系统，促进建立覆盖疾控发源地、传染链、病源谱和预防救治的应急响应体系。在中西部尤其是边远地区，有计划、有步骤地开展网络化医疗辅导和诊断救治服务。逐步建立农村医疗急救信息网络。扩大新型农村合作医疗管理和信息服务系统的覆盖范围，为实现参合人口异地就医和即时结报提供技术保障。</p>
			<p>建立完善城乡居民电子健康档案和电子病历。适应医疗机构向群众提供连续的预防、保健、医疗、康复等服务的需要，完善城乡居民电子健康档案和电子病历，方便居民参与个人健康管理。</p>
			<p>建立医疗机构管理信息系统。针对不同层级医疗机构的功能，建立完善医疗机构管理信息系统，支持实行规范化的临床诊疗路径管理，提高医疗机构和医疗人员精细化管理和绩效管理水平。</p>
			<p>加强区域医药卫生信息共享。开展区域卫生信息化试点，实现公共卫生、医疗服务、医疗保障、基本药物制度信息等的互联互通和数据共享。</p>
		</div>
	</div>
</div>
