<div class="wapper section clearfix">
	<div class="section-l">
		<%= render "nav", object: @local %>
	</div>
	<div class="section-m">
		<div class="section-t">
			<h2>医疗</h2>
			<p>医疗服务信息化是国际发展趋势。随着信息技术的快速发展，国内越来越多的医院正加速实施基于信息化平台、 HIS 系统的整体建设，以提高医院的服务水平与核心竞争力。 信息化不仅提升了医生的工作效率，使医生有更多的时间为患者服务，更提高了患者满意度和信任度，无形之中树立起了医院的科技形象。因此，医疗业务应用与基础网络平台的逐步融合正成为国内医院，尤其是大中型医院信息化发展的新方向。</p>
		</div>
		<div class="section-c">
			<h4>数字化</h4>
			<p>通过问题跟踪管理平台，用户、合作伙伴、公司内部各个部门及时反馈发现软件应用中发现的各种问题，及时的解决，快速提升产品性能，逐步形成了包含新建体检中心、业务管理、客户管理、营销管理、健康管理、信息管理等内容的较为完整的健康体检管理体系</p>
		</div>
	</div>
</div>
