<div class="wapper section clearfix">
	<div class="section-l">
		<%= render "nav", object: @local %>
	</div>
	<div class="section-m">
		<div class="section-t">
			<h2>服务业</h2>
			<p>适应服务业发展和居民消费结构升级的需要，深化信息技术在服务业的应用，积极培育新型服务业态，推动现代服务业发展。</p>
		</div>
		<div class="section-c">
			<h4>加快推进服务业信息化</h4>
			<p>1.引导电子商务健康发展。鼓励工业和商贸流通领域骨干企业开展网络采购和销售，加强供应链协同运作。推动中小微企业普及电子商务应用。鼓励电子商务服务平台向涵盖信息流、物流、资金流的全流程服务方向发展。丰富网络商品和服务，拓展网络购物渠道，满足不同层次消费需求。支持开展移动电子商务创新，支持境内企业开展跨境电子商务应用。完善安全、信用、金融、物流和标准等支撑体系，构建与电子商务发展相配套的服务体系。组织开展国家电子商务示范城市创建工作，积极营造有利于促进电子商务健康发展的政策环境，探索适应电子商务发展的监管模式，加快建立规范有序的电子商务市场秩序。</p>

　　<p>2.提升物流信息化水平。促进信息技术应用与现代物流发展的融合创新，提高物流基础设施的信息化水平，鼓励发展新型物流业态和服务模式。加强跨行业的物流信息共享，建立完善行业性、区域性的公共物流信息服务体系。推动电子商务和物流信息化集成发展。</p>

　　<p>3.提高服务业重点领域信息化水平。加快推动银行业、证券业和保险业信息共享，提高金融宏观调控和综合监管能力；运用信息技术推进金融产品和服务创新，促进消费金融发展；围绕增强普遍服务能力，提高面向中小微企业和农业农村的金融信息化服务水平。引导工业设计走专业化、高端化、网络化发展道路，建设一批实用、高效的工业设计公共服务平台。发展信息系统集成服务、互联网增值服务、信息安全服务和数字内容服务，发展地理信息产业。推动旅游、人力资源开发、餐饮、新闻出版、休闲娱乐和社区服务等服务行业采用信息技术创新服务品种和方式，完善服务体系，提升服务能力。</p>

　　<p>专栏4  电子商务示范工程</p>

　　<p>推进电子商务协同应用。通过加强电子商务协同应用，在原材料、装备制造、消费品、电子信息、国防科工等重点工业领域，提高龙头企业的供应链管理水平，推进企业间网上协同研发、设计和制造，增强产业链商务协同能力。</p>

　　<p>推动中小企业普及电子商务。鼓励中小企业应用第三方电子商务服务平台，开展网上购销等活动。引导中小企业积极融入龙头企业的电子商务购销体系。</p>

　　<p>移动电子商务试点示范。继续开展试点示范，推动移动电子商务应用从生活服务、公共服务领域向工农业生产和生产性服务业领域延伸，提高移动电子商务关键技术的创新能力，完善产业链。</p>
		</div>
	</div>
</div>
