<!DOCTYPE html>
<html>
<head>
  <title>创美科技 - 科技创造美好明天</title>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="Container">
<div id="top">
	<div class="wapper">
		<a href="#">联系我们</a><span>|</span>服务热线:<b>0951-1234567</b>
	</div>
</div>
<div id="Header">
	<div class="wapper">
		<div id="logo"><a href="/"><img src="/assets/logo.gif" /></a></div>
		<div class="navs">
			<a href="/">首页</a>
			<a href="/products">设计开发</a>
			<a href="/ecommerce">电子商务</a>
			<a href="/solutions">行业方案</a>
			<a href="/about_us">关于我们</a>
		</div>
	</div>
</div>
<div id="PageBody">
<%= yield %>
</div>
<div id="Footer">
	<div id="foot" class="wapper clearfix">
		<div class="foot-li">
			<h4>在线服务</h4>
			<ul>
				<li><a href="#">网站统计分析</a></li>
				<li><a href="#">网店测试申请</a></li>
			</ul>
		</div>
		<div class="foot-li">
			<h4>信息前沿</h4>
			<ul>
				<li><a href="#">创客</a></li>
				<li><a href="#">信息图</a></li>
			</ul>
		</div>
		<div class="foot-li">
			<h4>DEMO站点</h4>
			<ul>
				<li>网店</li>
				<li>测试申请</li>
			</ul>
		</div>
		<div class="f-contacts">
			<h4>联系我们</h4>
			<ul>
				<li>QQ： 395693519</li>
				<li>电话：0951-1234567</li>
				<li>邮箱：service(#)nxmaker.com</li>
				<li>地址：宁夏银川市</li>
			</ul>
		</div>
	</div>
	<div class="copy">Copyright &copy; 2012 - 2014 创美科技 All Right Reserved.</div>
</div>
</div>
</body>
</html>
